nodered/data/flows.json
[
    {
        "id": "8050e7efd5a4993b",
        "type": "tab",
        "label": "Test Flows",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "66d18814f1af2ca2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c4a57a3a35dba879",
        "type": "inject",
        "z": "8050e7efd5a4993b",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello World",
        "payloadType": "str",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "b3a3fb7f615e1e7e"
            ]
        ]
    },
    {
        "id": "b3a3fb7f615e1e7e",
        "type": "debug",
        "z": "8050e7efd5a4993b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 240,
        "wires": []
    },
    {
        "id": "9fa77f4be4498280",
        "type": "inject",
        "z": "8050e7efd5a4993b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "test_hw",
        "payload": "Hello World via MQTT!",
        "payloadType": "str",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "58c70536b4aa9351"
            ]
        ]
    },
    {
        "id": "58c70536b4aa9351",
        "type": "mqtt out",
        "z": "8050e7efd5a4993b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "66d18814f1af2ca2",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "d4098df892c2d1b3",
        "type": "mqtt in",
        "z": "8050e7efd5a4993b",
        "name": "",
        "topic": "test_hw",
        "qos": "2",
        "datatype": "auto",
        "broker": "66d18814f1af2ca2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 560,
        "wires": [
            [
                "351ea1237b491cfe"
            ]
        ]
    },
    {
        "id": "351ea1237b491cfe",
        "type": "debug",
        "z": "8050e7efd5a4993b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 560,
        "wires": []
    }
]